<?xml version='1.0' encoding='utf-8'?>
<plugin id="UniversalDeepLink" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>UniversalDeepLink</name>
	<js-module name="UniversalDeepLink" src="www/UniversalDeepLink.js">
		<clobbers target="cordova.plugins.UniversalDeepLink" />
	</js-module>
	<!--<preference name="APPLINKS" />-->
	<hook type="before_plugin_install" src="hooks/save_applinks_to_file.js" />

	<platform name="ios">
	
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
        <hook type="after_plugin_add" src="hooks/add_swift_support.js" />
        <hook type="after_prepare" src="hooks/ios_set_applinks.js" />
		<hook type="after_prepare" src="hooks/after_prepare_modify_bridging_header.js" />
		<config-file parent="/*" target="config.xml">
			<feature name="UniversalDeepLink">
				<param name="ios-package" value="UniversalDeepLink" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<source-file src="src/ios/UniversalDeepLink.swift" />
		<source-file src="src/ios/AppDelegate+UniversalLinks.swift" />
		<source-file src="src/ios/UniversalLinkStorage.swift" />
	</platform>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="UniversalDeepLink">
			   	<param name="android-package" value="com.outsystems.experts.universalDeepLink.UniversalDeeplinkPlugin" />
			</feature>
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<preference name="GradlePluginKotlinVersion" value="1.6.0" />
			<preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>

        <source-file src="src/android/UniversalDeeplinkPlugin.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/universalDeepLink/" />

		<hook type="after_plugin_install" src="hooks/android/after_prepare_add_deeplinks.js" />
		<hook type="before_compile" src="hooks/android/before_build_change_launchMode.js" />

	</platform>
	
</plugin>