<?xml version='1.0' encoding='utf-8'?>
<plugin id="UniversalDeepLink" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>UniversalDeepLink</name>
	<js-module name="UniversalDeepLink" src="www/UniversalDeepLink.js">
		<clobbers target="cordova.plugins.universaldeeplink" />
	</js-module>
	<platform name="ios">
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
        <hook type="after_plugin_add" src="hooks/add_swift_support.js" />
		<config-file parent="/*" target="config.xml">
			<feature name="UniversalDeepLink">
				<param name="ios-package" value="UniversalDeepLink" />
			</feature>
		</config-file>
		<source-file src="src/ios/UniversalDeepLink.swift" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="UniversalDeepLink">
				<param name="android-package" value="UniversalDeepLink.UniversalDeepLink" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/UniversalDeepLink.java" target-dir="src/UniversalDeepLink/UniversalDeepLink" />
	</platform>
</plugin>